@model List<List<string>>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

    <div> 
        <ul>
        @foreach(var m in Model)
        {
           <li>
               <div> @m[0]</div>
               <div> @m[1]</div>
               <div> @m[2]</div>
        <div>       <a href="/Home/test?adrs=@m[3]&t=@m[4]">watch video</a>

             </div>
           </li> 
            
        }
            </ul>
    </div>
