@{
    ViewBag.Title = "Greater Houston Sudanese American Association";

}

@*<link href="~/StyleSheet1.css" rel="stylesheet" />*@
<div id="" >
    <header id="" class="carousel fade"  style="height:auto " data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>

            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol> 
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner " role="listbox">
            <div class="item active">
                <div> <img src='~/Images/19KHARTOUM-1.jpg' style="width:100%; " /></div>
                <div class="carousel-caption" style="top:0; bottom :auto">
                    <h2>Khartoum</h2>
                </div>
            </div>
            <div class="item ">
                <div><img src="~/Images/aerial_juba_south_sudan.jpg" alt="Alternate Text" style="width:100%;" /></div>
                <div class="carousel-caption" style="top:0; bottom :auto">
                    <h2>Juba </h2>
                </div>
            </div>
            <div class="item ">
                <div><img src="~/Images/houston.jpg" alt="Alternate Text" style="width:100%;" /></div>
                <div class="carousel-caption" style="top:0; bottom :auto">
                    <h2>Houston </h2>
                    
                </div>
            </div>

            </div>
            
        
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
 
    <!--end homeItemText-->
</div>
<div>
        <div class="panel-body">
                <p style="font-family: Helvetica, sans-serif;">
                 We strive   to maximize individual contributions by leveraging the combined strength of individual and community resources.
                    To proactively promote the vast educational and self-help opportunities available in America in order to improve the quality of life for Sudanese Americans and their families.
                    To create a powerful platform for networking that enables entry of Sudanese Americans in civic and political processes.


                </p>


            </div>

        </div>

    



   


